NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://opentrip:opentrip@localhost:5432/opentrip?schema=public
REDIS_URL=redis://localhost:6379
JWT_SECRET=change-me
JWT_EXPIRES_IN=15m
TRIPAY_MERCHANT_CODE=
TRIPAY_API_KEY=
TRIPAY_PRIVATE_KEY=
TRIPAY_CALLBACK_SECRET=
ONESENDER_BASE_URL=
ONESENDER_API_KEY=
WEB_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
